NODE_ENV=development

REDIS_URL=redis://:redis_dev_password@localhost:6380

WORKER_CONCURRENCY=5

CREDENTIAL_MASTER_KEY=replace_with_64_hex_chars
STATEMENT_TIMEOUT_MS=30000
LOCK_TIMEOUT_MS=5000
DEFAULT_ROW_CAP=10000
