NODE_ENV=development
PORT=3002

# OpenAI
OPENAI_API_KEY=sk-replace-with-your-real-key
AI_MODEL=gpt-5.4-nano
AI_SCREEN_MODEL=gpt-5.4-nano


SERVICE_PUBLIC_KEY=replace_with_base64_public_key

CORS_ORIGIN=http://localhost:3001
